code[class*="language-"],
pre[class*="language-"] {
  @apply mt-1 mb-4 block overflow-x-auto whitespace-pre rounded-lg bg-gray-800 p-4 font-mono text-base text-gray-300 ring-1 ring-gray-700 md:mt-2 md:mb-6 lg:p-8;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-400;
}

.token.punctuation {
  @apply text-yellow-400;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted,
.token.class-name {
  @apply text-red-400;
}

.token.boolean,
.token.number {
  @apply text-indigo-400;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-green-400;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable,
.token.keyword {
  @apply text-purple-400;
}

.token.atrule,
.token.attr-value,
.token.function {
  @apply text-blue-400;
}

.token.regex,
.token.important {
  @apply text-orange-400;
}

.token.important,
.token.bold {
  @apply font-bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
